<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create homework</title>
</head>
<body>
    <h1>Add Homework</h1>
    <form method="POST">
        <input type="text" name="id" value="{{_id}}" placeholder="id"><br>
        <input type="text" name="number" value="{{number}}" placeholder="number"><br>
        <input name="title" type="text" value="{{title}}" placeholder="title"><br>
        <textarea name="description" id="1" cols="50" rows="10" value="{{description}}" placeholder="description"></textarea><br>
        <input type="submit" id="submit" value="Add">
        <input type="reset" value="Clear all">
    </form>
    <a href="/homework"> Back to list</a>
</body>
</html>