<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete homework</title>
</head>
<body>
    <h1>Delete Homework: {{_id}}</h1>
    <form method="POST">
        <input type="text" name="number" value="{{number}}"><br>
        <input name="title" type="text" value="{{title}}"><br>
        <textarea name="description" id="" cols="50" rows="10" value="{{description}}"></textarea><br>
        <input type="submit" id="submit" value="Delete">
        <input type="reset" value="Clear all">
    </form>
    <a href="/homework"> Back to list</a>
</body>
</html>