<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>Homework</title>
</head>
<body>
    <div class="add-hw">
        <button><a href="/add-homework">Create</a></button>
    </div>
    <ol>
        {{#homeworks}}
        <li>
            <a href="/homework-details/{{_id}}">{{title}}</a>
            <button><a href="/edit-homework/{{_id}}">Edit</a></button>
            <button><a href="/delete-homework/{{_id}}">Delete</a></button>
        </li>
        {{/homeworks}}
    </ol>
</body>
</html>